.Discovery {
  user-select: none;
  .DiscoverySearchDiv {
    width: 1050px;
    height: 60px;
    background: #f8f4f1;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .DiscoverySearchDivIcon {
      font-size: 35px;
      margin-left: 20px;
      color: #dcc8bb;
    }
    .DiscoverySearchDivInput {
      width: 696px;
      height: 33px;
      font-size: 25px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      line-height: 21px;
      border: none;
      background-color: #f8f4f1;
      outline: none;
      margin-left: 28px;
    }
  }
  .DiscoveryList {
    width: 1050px;
    height: 580px;
    // background-color: pink;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    .DiscoveryItem {
      width: 500px;
      height: 155px;
      background: #f1e8e3;
      border-radius: 30px 30px 30px 30px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .DiscoveryItemImg {
        width: 165px;
        height: 155px;
        opacity: 1;
        background-color: #000000;
        border-radius: 30px 50% 50% 30px;
      }
      .DiscoveryItemRight {
        margin-left: 20px;
        .DiscoveryItemRightTitle {
          height: 27px;
          font-size: 20px;
          font-family: Playfair Display-Regular, Playfair Display;
          font-weight: 400;
          color: #141414;
          line-height: 28px;
          margin-top: 15px;
        }
        .DiscoveryItemRightLabelList {
          display: flex;
          flex-direction: row;
          margin-top: 11px;
          margin-bottom: 0.046875rem;
          .DiscoveryItemRightLabelItem {
            height: 15px;
            // background: #e3d3c9;
            background: #ffffff;
            border-radius: 20px 20px 20px 20px;
            opacity: 0.6;
            font-size: 10px;
            font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
            font-weight: normal;
            color: #141414;
            line-height: 15px;
            margin-right: 10px;
            padding: 1px 5px 0px;
          }
        }
        .DiscoveryItemRightSmallItem {
          height: 0.03645rem;
          margin-bottom: 0.046875rem;
          .DiscoveryItemRightSmallItemIcon {
            font-size: 11px;
          }
          .DiscoveryItemRightSmallItemText {
            font-size: 12px;
            color: #141414;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.ShowDetailModal {
  width: 520px;
  height: 640px;
  background: #ffffff;
  border-radius: 40px 40px 40px 40px;
  opacity: 1;
  user-select: none;
  .ModalTop {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    .ModalTopImg {
      width: 180px;
      height: 180px;
      opacity: 1;
      border-radius: 50%;
      background-color: aqua;
    }
    .ModalTopRight {
      margin-left: 25px;
      margin-top: 12px;
      .ModalTopRightTitle {
        min-width: 250px;
        height: 30px;
        font-size: 27px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #141414;
        line-height: 37px;
        margin-bottom: 18px;
      }
      .ModalTopRightItem {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .ModalTopRightItemIcon {
          font-size: 22px;
          color: #dbc6b9;
        }
        .ModalTopRightItemText {
          height: 15px;
          font-size: 13px;
          font-family: ArialMT-, ArialMT;
          font-weight: normal;
          color: #141414;
          margin-left: 25px;
        }
      }
    }
  }
  .ModalLabelList {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    .ModalLabelItem {
      font-size: 14px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      background: #e9ddd5;
      border-radius: 20px 20px 20px 20px;
      padding: 2px 8px 1px 9px;
      margin-right: 15px;
    }
  }
  .ModalDeseription {
    margin-left: 35px;
    margin-right: 35px;
    height: 300px;
    background: #f4eeea;
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
    overflow: hidden;
    .ModalDeseriptionTitle {
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      line-height: 28px;
      margin-top: 20px;
      margin-left: 30px;
    }
    .ModalDeseriptionContent {
      width: 380px;
      height: 225px;
      font-size: 20px;
      font-family: Playfair Display-Regular, Playfair Display;
      font-weight: 400;
      color: #707070;
      margin-left: 30px;
    }
  }
  .ModalButtonList {
    margin: 20px 35px 0px;
    display: flex;
    .ModalButtonLeft {
      border: none;
      padding: 3px 14px;
      background: #dfdddc;
      border-radius: 20px 20px 20px 20px;
      font-size: 20px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      cursor: pointer;
    }
    .ModalButtonRight {
      border: none;
      width: 100px;
      height: 33px;
      background: #f1e8e3;
      border-radius: 20px 20px 20px 20px;
      font-size: 20px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      line-height: 24px;
      margin-left: auto;
      margin-right: 0px;
      cursor: pointer;
    }
  }
  .ModalDetailItem {
    height: 95px;
    background: #f4eeea;
    border-radius: 20px 20px 20px 20px;
    margin-left: 35px;
    margin-top: 10px;
    margin-right: 35px;
    overflow: hidden;
    .ModalDetailItemTop {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-top: 10px;
      .ModalDetailItemTopIcon {
        font-size: 18px;
      }
      .ModalDetailItemTopTitle {
        height: 20px;
        font-size: 15px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #040000;
        margin-left: 10px;
      }
    }
    .ModalDetailItemContent {
      height: 60px;
      font-size: 10px;
      font-family: Playfair Display-Regular, Playfair Display;
      font-weight: 400;
      color: #707070;
      margin-left: 20px;
      margin-right: 25px;
    }
    .ModalDetailItemDoc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ModalDetailItemDocIcon {
        font-size: 44px;
      }
      .ModalDetailItemDocIconText {
        height: 20px;
        font-size: 15px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #040000;
        line-height: 18px;
        margin-top: 5px;
      }
    }
  }
}
