.LoginTitleList {
  margin-left: 300px;
  margin-top: 80px;
  user-select: none;
  .LoginTitleTop {
    height: 22px;
    font-size: 17px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #151515;
    line-height: 20px;
  }
  .LoginTitleCenter {
    min-width: 500px;
    height: 78px;
    font-size: 58px;
    font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
    font-weight: normal;
    color: #151515;
    line-height: 70px;
  }
  .LoginTitleBottom {
    margin-top: 8px;
    display: flex;
    align-items: center;
    .LoginTitleAsk {
      min-width: 260px;
      height: 28px;
      font-size: 21px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 25px;
    }
    .LoginTitleSign {
      min-width: 120px;
      height: 42px;
      background-color: #151515;
      border-radius: 40px 40px 40px 40px;
      opacity: 1;
      font-size: 21px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #ffffff;
      line-height: 35px;
      margin-left: 40px;
      cursor: pointer;
    }
  }
}
.LoginInputList {
  width: 850px;
  height: 420px;
  background: #eaded7;
  border-radius: 40px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 225px;
  padding: 80px 75px 0px;
  user-select: none;
  .LoginInputItem {
    .LoginInputItemTitle {
      width: 289px;
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .LoginInputItemInputDiv {
      margin-bottom: 20px;
      width: 850px;
      height: 60px;
      background: #f6f1ef;
      opacity: 1;
      border: 1px solid #cbc4c1;
      border-radius: 20px;
      align-items: center;
      display: flex;
      .LoginInputItemInput {
        border: none;
        width: 400px;
        height: 33px;
        font-size: 25px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 23px;
        margin-left: 40px;
        background-color: #f6f1ef;
      }
      .LoginInputItemInput:focus {
        outline: none;
      }
    }
  }
  .LoginInputButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    .LoginInputSignIn {
      width: 220px;
      height: 65px;
      background: #ffffff;
      opacity: 1;
      font-size: 31px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 65px;
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
    }
    .LoginInputForget {
      height: 32px;
      font-size: 24px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 29px;
      margin-top: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
