.Index {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 210px;
  padding-right: 210px;
  user-select: none;
  .IndexLeft {
    width: 270px;
    height: 420px;
    background: #dcc8bb;
    border-radius: 40px 40px 40px 40px;
    opacity: 0.6;
    padding: 60px 40px;
    margin-bottom: 395px;
    .IndexLeftTop {
      display: flex;
      flex-direction: row;
      .IndexLeftTopAvatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        opacity: 1;
        background-color: #000000;
        border: none;
      }
      .IndexLeftTopName {
        font-size: 20px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #141414;

        margin-top: 45px;
      }
      .IndexLeftTopInformation {
        width: 105px;
        height: 19px;
        font-size: 10px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #141414;
        line-height: 10px;
        margin-top: 20px;
      }
    }
    .IndexLeftRoutes {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      .IndexLeftRouteItem {
        width: 240px;
        height: 60px;
        font-size: 22px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #141414;
        line-height: 60px;
        text-decoration: none;
        padding-left: 30px;
      }
      .IndexLeftRouteItemChoose {
        background: #ffffff;
        border-radius: 20px 20px 20px 20px;
        opacity: 0.6;
        color: #000000;
        font-weight: bold;
      }
    }
  }
  .IndexRight {
    margin-left: 100px;
  }
}
