.home {
  user-select: none;
  .homePageTop {
    text-align: center;
    width: 100%;
    height: 700px;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #eaddd6;
    .first {
      bottom: -20%;
      left: -50;
    }

    .seond {
      top: -10%;
      left: 15%;
    }

    .third {
      bottom: -20%;
      left: 35%;
    }

    .fourth {
      top: -10%;
      left: 55%;
    }

    .firth {
      bottom: -20%;
      right: 0px;
    }
    .homePageTopBigTitle {
      min-width: 1350px;
      height: 115px;
      font-size: 86px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #000000;
      line-height: 103px;
      margin-top: 180px;
      z-index: 999;
    }
    .homePageTopSmallTitle {
      min-width: 1200px;
      height: 37px;
      font-size: 28px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #000000;
      line-height: 34px;
      margin-top: 55px;
    }
    .homePageTopButtomList {
      margin-top: 55px;
      display: flex;
      justify-content: center;
      .homePageTopButtomItem {
        min-width: 219px;
        height: 75px;
        background: #ffffff;
        opacity: 1;
        font-size: 32px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #000000;
        line-height: 75px;
        border-radius: 35px;
        cursor: pointer;
      }
    }
  }
  .homePageCenter {
    height: 2900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .homePageCenterTopImg {
      width: 1015px;
      height: 73px;
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .leftImg {
        width: 337px;
        height: 71px;
      }
      .rightImg {
        width: 581px;
        height: 73px;
        margin-left: -10px;
      }
    }
    .homePageCenterTitle {
      margin-top: 183px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 166px;
      .homePageCenterBigTitle {
        min-width: 1000px;
        height: 69px;
        font-size: 52px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #000000;
        line-height: 63px;
      }
      .homePageCenterSmallTitle {
        height: 53px;
        font-size: 40px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #000000;
        line-height: 48px;
      }
    }
    .homePageCenterItem {
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;
      .homePageCenterItemImg {
        width: 616px;
        height: 444px;
        border-radius: 40px 40px 40px 40px;
        margin-right: 100px;
      }
      .homePageCenterItemImgFirst {
        width: 596px;
        height: 420px;
        position: absolute;
        left: 35px;
        top: 12px;
      }
      .homePageCenterItemTitle {
        .homePageCenterItemBigTitle {
          width: 520px;
          font-size: 45px;
          font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
          font-weight: normal;
          color: #000000;
          line-height: 53px;
        }
        .homePageCenterItemSmallTitle {
          width: 377px;
          height: 55px;
          font-size: 22px;
          font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
          font-weight: normal;
          color: #000000;
          line-height: 25px;
          margin-top: 20px;
        }
      }
    }
  }
  .homePageBottom {
    height: 1992px;
    background-color: #302929;
    display: flex;
    flex-direction: column;
    align-items: center;
    .homePageBottomTitle {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      margin-bottom: 166px;
      .homePageBottomBigTitle {
        height: 95px;
        font-size: 71px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #ffffff;
        line-height: 85px;
      }
      .homePageBottomSmallTitle {
        min-width: 1000px;
        height: 65px;
        font-size: 49px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #ffffff;
        line-height: 59px;
        margin-left: 25px;
      }
    }
    .homePageBottomItem {
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;
      .homePageBottomItemImg {
        width: 616px;
        height: 444px;
        background-color: #ffffff;
        border-radius: 40px 40px 40px 40px;
        margin-right: 100px;
        z-index: 999;
      }
      .homePageBottomItemTitle {
        .homePageBottomItemBigTitle {
          height: 60px;
          font-size: 45px;
          font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
          font-weight: normal;
          color: #ffffff;
          line-height: 54px;
        }
        .homePageBottomItemSmallTitle {
          width: 520px;
          height: 57px;
          font-size: 22px;
          font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
          font-weight: normal;
          color: #ffffff;
          line-height: 27px;
        }
      }
    }
  }
  .homePageLast {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    .homePageLastTitle {
      min-width: 1295px;
      height: 290px;
      font-size: 115px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141515;
      line-height: 137px;
      margin-left: 310px;
      margin-top: 100px;
      margin-bottom: 100px;
      z-index: 10;
    }
    .homePageLastImg {
      width: 386px;
      height: 177px;
      opacity: 1;
      position: relative;
      top: 178px;
      right: 322px;
      z-index: 1;
    }
  }
}
// .first,
// .seond,
// .third,
// .fourth,
// .firth {
//   position: absolute;
//   background: #dbc6b9;
//   box-shadow: 0 0 0 0 rgba(219, 198, 185, 1);
//   height: 400px;
//   width: 400px;
//   border-radius: 50%;
//   animation: donghua 2.4s infinite;
// }

// @keyframes donghua {
//   0% {
//     transform: scale(0.6);
//     /* 注意rgba中的a的设置 */
//     box-shadow: 0 0 0 0 rgba(219, 198, 185, 60%);
//   }

//   60% {
//     transform: scale(1);
//     box-shadow: 0 0 0 36px rgba(219, 198, 185, 0%);
//   }

//   100% {
//     transform: scale(0.6);
//     box-shadow: 0 0 0 0 rgba(204, 73, 152, 0%);
//   }
// }
