.ant-picker .ant-picker-input input {
  display: none;
}
.ant-picker .ant-picker-input .ant-picker-suffix {
  display: none;
}

.ant-picker .ant-picker-input .ant-picker-clear {
  display: none;
}
