.p_scroll_bar_sm::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.p_scroll_bar_md::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* 滚动条里面小方块（即滑块) */
.p_scroll_wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(219, 198, 185, 0.4);
}
/* 滚动条整体样式 */
.p_scroll_wrap::-webkit-scrollbar-track {
  background-color: transparent; 
}
