.History {
  user-select: none;
  .HistorySearchDiv {
    width: 1050px;
    height: 60px;
    background: #f8f4f1;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .HistorySearchDivIcon {
      font-size: 35px;
      margin-left: 20px;
      color: #dcc8bb;
    }
    .HistorySearchDivInput {
      width: 696px;
      height: 33px;
      font-size: 25px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      line-height: 21px;
      border: none;
      background-color: #f8f4f1;
      outline: none;
      margin-left: 28px;
      opacity: 1;
    }
  }
  .HistoryListDiv {
    width: 1015px;
    height: 585px;
    background-color: #f8f4f1;
    border-radius: 40px;
    margin-top: 20px;
    padding: 35px 10px 30px 25px;
    .HistoryList {
      height: 585px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: scroll;
      .HistoryItem {
        width: 490px;
        height: 135px;
        background-color: #ece1da;
        opacity: 1;
        border-radius: 30px;
        display: flex;
        margin-bottom: 15px;
        .HistoryItemImg {
          width: 145px;
          height: 132px;
          opacity: 1;
          background-color: #000000;
          border-radius: 30px 50% 50% 30px;
        }
        .HistoryItemRight {
          margin-left: 10px;
          margin-top: 20px;
          .HistoryItemTitle {
            font-size: 25px;
            font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
            font-weight: normal;
            color: #141414;
            line-height: 35px;
          }
          .HistoryItemLabelList {
            display: flex;
            margin-top: 15px;
            .HistoryItemLabelItem {
              background-color: #f7f3f0;
              border-radius: 20px 20px 20px 20px;
              font-size: 14px;
              font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
              font-weight: normal;
              color: #141414;
              padding: 0.01041rem 0.04167rem;
              margin-right: 10px;
            }
          }
          .HistoryItemStatus {
            height: 27px;
            font-size: 20px;
            font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
            font-weight: normal;
            color: #141414;
            line-height: 10px;
            margin-top: 18px;
            display: flex;
            justify-content: end;
            margin-right: 25px;
          }
        }
      }
    }
  }
}

.ShowDetailModal {
  width: 520px;
  height: 640px;
  background: #ffffff;
  border-radius: 40px 40px 40px 40px;
  opacity: 1;
  user-select: none;
  .ModalTop {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    .ModalTopImg {
      width: 180px;
      height: 180px;
      opacity: 1;
      border-radius: 50%;
      background-color: aqua;
    }
    .ModalTopRight {
      margin-left: 25px;
      margin-top: 12px;
      .ModalTopRightTitle {
        min-width: 250px;
        height: 30px;
        font-size: 27px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #141414;
        line-height: 37px;
        margin-bottom: 18px;
      }
      .ModalTopRightItem {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .ModalTopRightItemIcon {
          font-size: 22px;
          color: #dbc6b9;
        }
        .ModalTopRightItemText {
          height: 15px;
          font-size: 13px;
          font-family: ArialMT-, ArialMT;
          font-weight: normal;
          color: #141414;
          margin-left: 25px;
        }
      }
    }
  }
  .ModalDeseription {
    margin: 50px 35px 0px;
    height: 260px;
    background: #f4eeea;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 30px;
    .ModalDeseriptionTitle {
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      line-height: 28px;
    }
    .ModalDeseriptionContent {
      width: 380px;
      height: 225px;
      font-size: 20px;
      font-family: Playfair Display-Regular, Playfair Display;
      font-weight: 400;
      color: #707070;
      line-height: 28px;
      margin-top: 10px;
    }
  }
  .ModalButtonList {
    margin: 20px 35px 0px;
    display: flex;
    .ModalButtonLeft {
      border: none;
      padding: 3px 14px;
      background: rgba(173, 168, 165, 0.97);
      border-radius: 20px 20px 20px 20px;
      opacity: 0.4;
      font-size: 20px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      cursor: pointer;
    }
    .ModalButtonRight {
      border: none;
      width: 100px;
      height: 33px;
      background: #dbc6b9;
      border-radius: 20px 20px 20px 20px;
      opacity: 0.4;
      font-size: 20px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      line-height: 24px;
      margin-left: auto;
      margin-right: 0px;
      cursor: pointer;
    }
  }
}
