.Welcome {
  width: 1120px;
  height: 380px;
  background: #ebdfd7;
  border-radius: 40px 40px 40px 40px;
  margin: 280px auto 255px;
  text-align: center;
  // overflow: hidden;
  user-select: none;
  position: relative;
  padding-top: 120px;
  .WelcomeTitle {
    height: 41px;
    font-size: 29px;
    font-family: Playfair Display-Bold, Playfair Display;
    font-weight: bold;
    color: #302929;
    line-height: 29px;
  }
  .WelcomeCountDown {
    font-size: 80px;
    font-family: Playfair Display-Bold, Playfair Display;
    font-weight: bold;
    color: #302929;
    margin-top: 20px;
  }
  .WelcomeMessage {
    height: 40px;
    font-size: 30px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #302929;
    line-height: 36px;
  }
  .WelcomeTips {
    width: 738px;
    height: 63px;
    font-size: 25px;
    font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
    font-weight: normal;
    color: #000000;
    line-height: 30px;
    margin: 40px auto 0px;
  }
  .WelcomeImg {
    width: 260px;
    height: 320px;
    opacity: 1;
    position: absolute;
    top: -200px;
    left: 389px;
    z-index: 999;
  }
}
