.ProfileEdit {
  width: 620px;
  height: 720px;
  background: #f1e8e3;
  border-radius: 40px;
  padding: 40px 90px;
  .ProfileEditTop {
    display: flex;
    flex-direction: row;
    .ProfileEditTopUploadImg {
      width: 160px;
      height: 160px;
      border-radius: 30px;
      background-color: aqua;
    }
    .ProfileEditTopInformation {
      margin-left: 40px;
      .ProfileEditTopItem {
        height: 24px;
        font-size: 18px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #000000;
        line-height: 7px;
      }
      .ProfileEditTopName {
        display: flex;
        margin-top: 37px;
        .ProfileEditTopNameItem {
          width: 180px;
          height: 55px;
          background-color: #f9f5f3;
          border-radius: 20px 20px 20px 20px;
          padding: 5px 0px 0px 20px;
          .ProfileEditTopNameTitle {
            height: 17px;
            font-size: 13px;
            font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
            font-weight: normal;
            color: #9b9998;
            line-height: 15px;
          }
          .ProfileEditTopNameInput {
            font-size: 18px;
            width: 150px;
            font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
            font-weight: normal;
            color: #151515;
            line-height: 15px;
            border: none;
            background-color: #f9f5f3;
            outline: none;
            height: 20px;
            margin-top: 6px;
          }
        }
      }
    }
  }
  .SecondStepItem {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-radius: 20px 20px 20px 20px;
    opacity: 0.6;
    .SecondStepItemBorder {
      width: 0px;
      height: 30px;
      opacity: 1;
      border: 0.0026rem solid #302929;
    }
    .SecondStepItemTitle {
      height: 17px;
      font-size: 13px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 15px;
      margin-left: 20px;
      margin-top: 5px;
    }
    .SecondStepItemSelect {
      height: 18px;
      width: 100%;
    }
    .SecondStepItemChoose {
      width: 90px;
      height: 60px;
      background: #ffffff;
      opacity: 1;
      line-height: 60px;
      text-align: center;
    }
    .SecondStepItemAdd {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
      .SecondStepItemAddDemo {
        width: 53px;
        height: 35px;
        background: #eaded6;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        font-size: 15px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 35px;
        text-align: center;
        margin-right: 10px;
      }
      .SecondStepItemAddButton {
        width: 35px;
        height: 35px;
        background: #eaded6;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        font-size: 16px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #151515;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .SecondStepSmallTitle {
    font-size: 13px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #9b9998;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 0.026041rem;
  }
  .ProfileEditTextAreaDiv {
    width: 620px;
    height: 140px;
    background: #f9f5f3;
    border-radius: 20px 20px 20px 20px;
    .ProfileEditTextArea {
      background-color: #f9f5f3;
      border: none;
      resize: none;
      width: 560px;
      height: 100px;
      margin-left: 20px;
      margin-top: 20px;
      outline: none;
      font-size: 16px;
    }
  }
}
