.CreateNewCountTitleList {
  margin-left: 300px;
  margin-top: 80px;
  user-select: none;
  .CreateNewCountTitleTop {
    height: 22px;
    font-size: 17px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #151515;
    line-height: 20px;
  }
  .CreateNewCountTitleCenter {
    min-width: 600px;
    height: 78px;
    font-size: 58px;
    font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
    font-weight: normal;
    color: #151515;
    line-height: 70px;
  }
  .CreateNewCountTitleBottom {
    margin-top: 8px;
    display: flex;
    align-items: center;
    .CreateNewCountTitleAsk {
      min-width: 200px;
      height: 28px;
      font-size: 21px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 25px;
    }
    .CreateNewCountTitleSign {
      min-width: 120px;
      height: 42px;
      background-color: #151515;
      border-radius: 40px 40px 40px 40px;
      opacity: 1;
      font-size: 21px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #ffffff;
      line-height: 35px;
      margin-left: 40px;
      cursor: pointer;
    }
  }
}
.FirstStep {
  display: flex;
  flex-direction: row;
  margin: 80px auto 0px;
  user-select: none;
  padding: 0 250px;
  justify-content: space-between;
  .FirstStepLeft {
    width: 560px;
    height: 550px;
    background: #eaded6;
    border-radius: 40px 40px 40px 40px;
    padding: 0px 50px;
    .FirstStepLeftTitle {
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 26px;
      margin-top: 45px;
    }
    .FirstStepLeftItem {
      width: 400px;
      height: 60px;
      background: #ffffff;
      border-radius: 20px 20px 20px 20px;
      opacity: 0.6;
      padding-left: 20px;
      .FirstStepLeftItemText {
        height: 19px;
        font-size: 14px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #151515;
        line-height: 16px;
        margin-top: 0.026rem;
      }
      .FirstStepLeftItemInput {
        width: 300px;
        height: 28px;
        font-size: 21px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 20px;
        border: none;
      }
      .FirstStepLeftItemInput:focus {
        outline: none;
      }
    }
    .FirstStepLeftButton {
      width: 120px;
      height: 60px;
      background: #ffffff;
      border-radius: 20px 20px 20px 20px;
      opacity: 1;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 60px;
      text-align: center;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .FirstStepRight {
    width: 560px;
    height: 550px;
    background: #eaded6;
    border-radius: 40px 40px 40px 40px;
    padding: 0px 50px;
    .FirstStepRightTitle {
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 26px;
      margin-top: 45px;
    }
    .FirstStepRightItem {
      width: 270px;
      height: 60px;
      background: #ffffff;
      border-radius: 20px 20px 20px 20px;
      opacity: 0.6;
      align-items: center;
      margin-top: 25px;
      .FirstStepRightItemBorder {
        width: 0px;
        height: 30px;
        opacity: 1;
        border: 0.5px solid #d4cfcd;
      }
      .FirstStepRightItemTimeInput {
        width: 33%;
        height: 22px;
        font-size: 17px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 20px;
        border: none;
        text-align: center;
      }
      .FirstStepRightItemTimeInput:focus {
        outline: none;
      }
      .FirstStepRightItemText {
        height: 19px;
        font-size: 14px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #151515;
        line-height: 16px;
        margin-top: 0.02604rem;
        margin-left: 20px;
      }
      .FirstStepRightItemInput {
        width: 230px;
        height: 28px;
        font-size: 21px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 20px;
        border: none;
        margin-left: 20px;
      }
      .FirstStepRightItemInput:focus {
        outline: none;
      }
      .FirstStepRightItemSelect {
        width: 100%;
        border: none;
        height: 15px;
      }
    }
  }
}

.SecondStep {
  width: 1120px;
  height: 550px;
  background: #eaded6;
  border-radius: 40px 40px 40px 40px;
  padding-left: 50px;
  overflow: hidden;
  user-select: none;
  margin: 80px auto 0px;
  .SecondStepTitle {
    font-size: 23px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #151515;
    line-height: 27px;
    margin-top: 45px;
  }
  .SecondStepItem {
    width: 300px;
    height: 60px;
    background: #f6f1ee;
    border-radius: 20px 20px 20px 20px;
    .SecondStepItemBorder {
      width: 0px;
      height: 30px;
      opacity: 1;
      border: 0.5px solid #ece7e4;
    }
    .SecondStepItemTitle {
      height: 17px;
      font-size: 13px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 15px;
      margin-left: 20px;
      margin-top: 5px;
    }
    .SecondStepItemSelect {
      width: 100%;
      height: 18px;
    }
    .SecondStepItemChoose {
      width: 90px;
      height: 60px;
      background: #f6f1ee;
      opacity: 1;
      line-height: 60px;
      text-align: center;
    }
    .SecondStepItemAdd {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
      .SecondStepItemAddDemo {
        width: 53px;
        height: 35px;
        background: #eaded6;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        font-size: 15px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 35px;
        text-align: center;
        margin-right: 10px;
      }
      .SecondStepItemAddButton {
        width: 35px;
        height: 35px;
        background: #eaded6;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        font-size: 16px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #151515;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .SecondStepSmallTitle {
    font-size: 13px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #151515;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.LastStep {
  width: 960px;
  height: 550px;
  background: #ddc9bc;
  border-radius: 40px 40px 40px 40px;
  opacity: 0.6;
  padding: 0px 80px;
  margin: 80px auto 0px;
  overflow: hidden;
  user-select: none;
  .LastStepTitle {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 50px;
    .LastStepTitleText {
      height: 31px;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 26px;
      margin-left: 20px;
    }
  }
  .LastStepContent {
    width: 960px;
    font-size: 35px;
    font-family: STSong-Regular, STSong;
    font-weight: 400;
    color: #707070;
    margin-top: 30px;
    line-height: 43px;
  }
  .LastStepTip {
    width: 960px;
    font-size: 35px;
    font-family: STSong-Regular, STSong;
    font-weight: 400;
    color: #707070;
  }
  .LastStepButton {
    width: 560px;
    height: 60px;
    background: #ffffff;
    border-radius: 30px 30px 30px 30px;
    opacity: 1;
    font-size: 27px;
    font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
    font-weight: normal;
    color: #151515;
    line-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
  }
}
.CreateNewCountControlStep {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  margin-bottom: 69px;
  align-items: center;
  margin-top: 56px;
  .CreateNewCountControlStepButton {
    width: 50px;
    height: 50px;
    background: #302929;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .CreateNewCountControlStepIcon {
      font-size: 24px;
      color: #867872;
    }
  }
  .CreateNewCountControlStepPoint {
    width: 12px;
    height: 12px;
    background: #c0bebe;
    opacity: 1;
    border-radius: 50%;
    margin-left: 15px;
  }
  .CreateNewCountControlStepPointSelect {
    width: 12px;
    height: 12px;
    background: #302929;
    opacity: 1;
    border-radius: 50%;
    margin-left: 15px;
  }
}
