.ResetPassword {
  width: 640px;
  height: 449px;
  background: #ebdfd7;
  border-radius: 40px 40px 40px 40px;
  padding: 30px 80px 21px;
  margin: 300px auto 235px;
  user-select: none;
  .ResetPasswordTitle {
    height: 31px;
    font-size: 23px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #000000;
    line-height: 25px;
  }
  .marginTop20 {
    margin-top: 20px;
  }
  .ResetPasswordEmail {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    .ResetPasswordEmailLeft {
      width: 480px;
      height: 60px;
      background: #f7f2ef;
      border-radius: 20px 20px 20px 20px;
      border: 1px solid #bcb5b1;
      padding-left: 20px;
      .width260 {
        width: 260px;
      }
      .ResetPasswordEmailTitle {
        height: 19px;
        font-size: 14px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #151515;
        line-height: 16px;
        margin-top: 0.03125rem;
      }
      .ResetPasswordEmailInput {
        width: 400px;
        height: 28px;
        font-size: 21px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 20px;
        border: none;
        background-color: #f7f2ef;
      }
      .ResetPasswordEmailInput:focus {
        outline: none;
      }
    }
    .ResetPasswordEmailButton {
      width: 120px;
      height: 60px;
      background: #ffffff;
      border-radius: 20px 20px 20px 20px;
      opacity: 1;
      font-size: 23px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #151515;
      line-height: 26px;
      border: none;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .ResetPasswordEnterItem {
    .ResetPasswordEnterItemTitle {
      height: 19px;
      font-size: 14px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #000000;
      line-height: 13px;
      margin: 0.026rem 0px;
    }
    .ResetPasswordEnterItemInputDiv {
      width: 640px;
      height: 60px;
      background: #f7f2ef;
      border-radius: 20px 20px 20px 20px;
      display: flex;
      align-items: center;
      .ResetPasswordEnterItemInput {
        width: 400px;
        height: 28px;
        font-size: 21px;
        font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
        font-weight: normal;
        color: #151515;
        line-height: 20px;
        border: none;
        margin-left: 20px;
        background-color: #f7f2ef;
      }
      .ResetPasswordEnterItemInput:focus {
        outline: none;
      }
    }
  }
  .ResetPasswordButtom {
    width: 200px;
    height: 60px;
    background: #ffffff;
    opacity: 1;
    font-size: 35px;
    font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
    font-weight: normal;
    color: #151515;
    line-height: 60px;
    border-radius: 25px;
    text-align: center;
    margin: 25px auto 0px;
    cursor: pointer;
  }
}
