.FeePayment {
  width: 650px;
  height: 710px;
  background: #f1e8e3;
  padding: 45px 75px;
  border-radius: 40px;
  .FeePaymentFirst {
    display: flex;
    flex-direction: row;
    .FeePaymentFirstLeft {
      height: 40px;
      font-size: 30px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
    }
    .FeePaymentFirstRight {
      width: 150px;
      height: 50px;
      background: #ffffff;
      border-radius: 30px 30px 30px 30px;
      opacity: 1;
      font-size: 25px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #040000;
      line-height: 50px;
      text-align: center;
      margin-left: auto;
    }
  }
  .FeePaymentSecondItem {
    display: flex;
    margin-bottom: 20px;
    .FeePaymentSecondItemLeft {
      width: 500px;
      height: 70px;
      background: #f9f5f3;
      align-items: center;
      display: flex;
      border-radius: 30px;
      .FeePaymentSecondItemLeftTitle {
        height: 33px;
        font-size: 25px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #141414;
        margin-left: 30px;
      }
      .FeePaymentSecondItemLeftContent {
        width: 285px;
        height: 30px;
        font-size: 27px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #b0adab;
        margin-left: auto;
        margin-right: 75px;
        margin-bottom: 7px;
      }
    }
    .FeePaymentSecondItemRightButton {
      width: 120px;
      height: 50px;
      background: #ffffff;
      border-radius: 30px 30px 30px 30px;
      opacity: 1;
      font-size: 25px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #040000;
      line-height: 50px;
      text-align: center;
      margin-left: auto;
      margin-top: auto;
    }
  }
  .FeePaymentCenter {
    margin-top: 47px;
    display: flex;
    .FeePaymentCenterCalendar {
      width: 150px;
      height: 50px;
      background: #ffffff;
      border-radius: 30px 30px 30px 30px;
      opacity: 1;
      font-size: 25px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #040000;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
    }
    .FeePaymentCenterRight {
      display: flex;
      flex-direction: row;
      height: 67px;
      font-size: 50px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      line-height: 37px;
      margin-left: auto;
      margin-right: 0px;
      // .FeePaymentCenterRightUnit {
      // }
      .FeePaymentCenterRightNumber {
        display: flex;
        text-align: right;
        width: 160px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .FeePaymentList {
    // margin-top: 20px;
    height: 320px;
    overflow-y: scroll;
    .FeePaymentItem {
      width: 630px;
      height: 70px;
      background: #f9f5f3;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 30px;
      margin-bottom: 20px;
      .FeePaymentItemName {
        height: 33px;
        font-size: 25px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #141414;
        line-height: 30px;
        margin-left: 20px;
      }
      .FeePaymentItemNumber {
        margin-left: auto;
        font-size: 27px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #040000;
        line-height: 32px;
        display: flex;
        width: 200px;
      }
    }
  }
}
