.Schedule {
  user-select: none;
  .ScheduleSearchDiv {
    width: 1050px;
    height: 60px;
    background: #f8f4f1;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .ScheduleSearchDivIcon {
      font-size: 35px;
      margin-left: 20px;
      color: #dcc8bb;
    }
    .ScheduleSearchDivInput {
      width: 696px;
      height: 33px;
      font-size: 25px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      line-height: 21px;
      border: none;
      background-color: #f8f4f1;
      outline: none;
      margin-left: 28px;
    }
  }
  .ScheduleListDiv {
    width: 1050px;
    height: 765px;
    background: #f8f4f1;
    margin-top: 20px;
    border-radius: 40px;
    padding-top: 35px;
    .ScheduleList {
      width: 97%;
      height: 730px;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      .ScheduleListLeft {
        margin-left: 70px;
        margin-top: 100px;
        .ScheduleListItem {
          width: 360px;
          height: 85px;
          background: #ede2db;
          border-radius: 30px;
          opacity: 1;
          padding: 20px 30px 30px;
          margin-bottom: 65px;
          .ScheduleListItemTitle {
            height: 33px;
            font-size: 25px;
            font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
            font-weight: normal;
            color: #141414;
            line-height: 35px;
            opacity: 1;
          }
          .ScheduleListItemLabelList {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            .ScheduleListItemLabel {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0.04167rem 10px;
              background: #ffffff;
              border-radius: 20px 20px 20px 20px;
              margin-right: 20px;
              .ScheduleListItemLabelIcon {
                font-size: 20px;
                color: #141515;
              }
              .ScheduleListItemLabelText {
                font-size: 16px;
                font-family: ArialMT-, ArialMT;
                font-weight: normal;
                color: #141414;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .ScheduleListCenter {
        margin: 53px 20px 0px;
        .SchedulePie {
          width: 30px;
          height: 30px;
          background: #000000;
          opacity: 1;
          border-radius: 50%;
          margin-bottom: 70px;
        }
      }
    }
  }
}
.ShowDetailModal {
  width: 350px;
  height: 640px;
  background: #ffffff;
  border-radius: 40px 40px 40px 40px;
  opacity: 1;
  padding: 40px 35px;
  .ShowDetailModalTitle {
    display: flex;
    align-items: start;
    .ShowDetailModalTitleIcon {
      font-size: 40px;
    }
    .ShowDetailModalTitleText {
      min-width: 400px;
      height: 89px;
      font-size: 32px;
      font-family: PlayfairDisplay-Regular-, PlayfairDisplay-Regular;
      font-weight: normal;
      color: #141414;
      line-height: 42px;
      margin-left: 15px;
    }
  }
  .ShowDetailModalLabelList {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-between;
    .ShowDetailModalLabelItem {
      display: flex;
      background: #eee5df;
      border-radius: 10px 10px 10px 10px;
      padding: 0.02604rem 10px;
      align-items: center;
      .ShowDetailModalLabelItemIcon {
        font-size: 20px;
        color: #dbc6b9;
      }
      .ShowDetailModalLabelItemText {
        font-size: 16px;
        font-family: ArialMT-, ArialMT;
        font-weight: normal;
        color: #141414;
        margin-left: 12px;
      }
    }
  }
  .ShowDetailModalInformation {
    height: 110px;
    background: #f4eeea;
    border-radius: 20px 20px 20px 20px;
    margin-top: 25px;
    display: flex;
    padding-top: 10px;
    .ShowDetailModalInformationLeft {
      margin-left: 20px;
      .ShowDetailModalInformationLeftIcon {
        font-size: 18px;
      }
    }
    .ShowDetailModalInformationRight {
      margin-left: 12px;
      .ShowDetailModalInformationRightTitle {
        height: 20px;
        font-size: 15px;
        font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
        font-weight: normal;
        color: #040000;
        line-height: 15px;
        margin-bottom: 10px;
      }
      .ShowDetailModalInformationRightItem {
        width: 370px;
        font-size: 15px;
        font-family: Playfair Display-Regular, Playfair Display;
        font-weight: 400;
        color: #707070;
      }
    }
  }
  .ShowDetailModalDeseription {
    height: 195px;
    background: #f4eeea;
    border-radius: 20px 20px 20px 20px;
    margin-top: 10px;
    padding: 15px 40px;
    .ShowDetailModalDeseriptionTitle {
      width: 133px;
      height: 22px;
      font-size: 17px;
      font-family: PlayfairDisplay-Bold-, PlayfairDisplay-Bold;
      font-weight: normal;
      color: #141414;
      line-height: 20px;
    }
    .ShowDetailModalDeseriptionContent {
      width: 370px;
      height: 158px;
      font-size: 15px;
      font-family: Playfair Display-Regular, Playfair Display;
      font-weight: 400;
      color: #707070;
      line-height: 18px;
      margin-top: 5px;
    }
  }
}
